{{ template "header" }}

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light" data-toggle="affix">
        <a class="navbar-brand header" href="/">
            <img src="/public/img/favicon.png" width="60" height="60" alt="logo" />
        </a>
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-alt" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center alt" id="nav-alt">
                <ul class="navbar-nav bg-light">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/containers">Containers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stats">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/images">Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/volumes">Volumes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/networks">Networks</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" type="button" data-toggle="modal" data-target="#APIModal">
                    API Key
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" type="button" href="/logout">
                    Logout
                </a>
            </div>&nbsp;&nbsp;&nbsp;
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="padding: 0;">
                <div class="card fcard">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Ports</th>
                                    <th scope="col">Created</th>
                                    <th scope="col" style="width: 1%;">Logs</th>
                                    <th scope="col" style="width: 1%;" class="center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range index . 1 }}
                                <tr>
                                    <td>{{ .Name }}</td>
                                    <td>{{ .Image }}</td>
                                    <td>{{ .Size }}</td>
                                    <td>{{ .Ports }}</td>
                                    <td>{{ .RunningFor }}</td>
                                    <td>
                                        <button type="button" class="btn btn-link text-dark" style="text-decoration: none;" data-toggle="modal" data-target=".bd-{{ .Name }}-modal-lg">
                                            <span style="text-align: center; display: block;" class="fas fa-binoculars" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td>{{ if eq .Status "U" }}
                                        <span style="text-align: center; display: block;" class="fas fa-check text-success" aria-hidden="true"></span>{{ else }}
                                        <span style="text-align: center; display: block;" class="fas fa-times text-danger" aria-hidden="true"></span>{{ end }}
                                    </td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- API MODAL -->
    <div class="modal fade" id="APIModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-key" aria-hidden="true"></i> &nbsp; API Key</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ with index . 0 }} {{ index . }} {{ end }}
                </div>
            </div>
        </div>
    </div>
    <!-- Logs Modal-->
    {{ range index . 2 }}
    <div class="modal fade bd-{{ .Name }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ .Name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table>
                                {{ range index .Logs }}
                                <tr>
                                    <td>{{ . }}</td>
                                </tr>
                                {{ end }}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>