{{ template "header" }}

<body class="text-center">
    <div class="login-body">
        <form class="form-signin" action="/" method="POST">
            <img class="mb-4" src="/public/img/favicon.png" alt="" width="200" height="200">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-block" style="background-color:#354168; color: white;" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">
                <a href="https://github.com/salihciftci/liman" style="color:#354168;" target="_blank">
                    <i class="fab fa-github fa-lg" aria-hidden="true"></i>
                </a>
            </p>
        </form>
    </div>
</body>